.top-pokemons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  overflow-y: auto;
  justify-content: center;
  box-shadow: 2px 2px 5px 2px #1976d2;
  padding: 5px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  box-shadow: 2px 2px 2px 2px grey;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px 10px;
  cursor: pointer;
}

.pokemon-card:hover {
  background-color: #258af0;
}

.name {
  display: flex;
  background-color: rgb(55, 54, 54);
  width: 100%;
  padding: 5px 0px;
  color: #fff;
  justify-content: center;
}
